<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t('edit_salecycle_settings') %></h1>

<%= form_tag(admin_salecycle_settings_path, :method => :put) do %>
  <% if defined? SpreeMultiDomain %>
    <% Spree::Store.all.each do |s| %>
      <p>
        <label><%= t('multi_domain.client_id', :name => s.name) %></label>
        <%= text_field_tag("preferences[salecycle_#{s.code}_client_id]", Spree::Salecycle::Config["salecycle_#{s.code}_client_id".to_sym]) %>
      </p>
    <% end %>
  <% else %>
    <p>
      <label><%= t("client_id") %></label>
      <%= text_field_tag('preferences[salecycle_client_id]', Spree::Salecycle::Config[:salecycle_client_id]) %>
    </p>
  <% end %>
  <p>
    <label><%= t("user_opt_out_method") %></label>
    <%= text_field_tag('preferences[salecycle_user_opt_out_method]', Spree::Salecycle::Config[:salecycle_user_opt_out_method]) %>
  </p>
  <p>
    <label><%= t("currency_type") %></label>
    <%= text_field_tag('preferences[salecycle_currency_type]', Spree::Salecycle::Config[:salecycle_currency_type]) %>
  </p>
  <h2>Custom fields</h2>
  <p>
    <label><%= t('custom_field_1_method') %></label>
    <%= text_field_tag('preferences[salecycle_custom_field_1]', Spree::Salecycle::Config[:salecycle_custom_field_1]) %>
  </p>
  <p>
    <label><%= t('custom_field_2_method') %></label>
    <%= text_field_tag('preferences[salecycle_custom_field_2]', Spree::Salecycle::Config[:salecycle_custom_field_2]) %>
  </p>

  <p class="form-buttons">
    <%= button t('update') %>
    <%= t("or") %> <%= link_to t("cancel"), admin_salecycle_settings_url %>
  </p>
<% end %>
